@model TravelAgency.Models.Hotel

@{
    ViewData["Title"] = "Редактирование";
}

@using (Html.BeginForm("Edit", "Hotel", FormMethod.Post))
{
<h4>Отель</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
                <div class="form-group col-md-9">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
                <div class="form-group col-md-9">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.City"></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
                <div class="form-group col-md-9">
                <label asp-for="HotelStarRatingId" class="control-label"></label>
                <select asp-for="HotelStarRatingId" class="form-control" asp-items="ViewBag.HotelStarRating"></select>
                <span asp-validation-for="HotelStarRatingId" class="text-danger"></span>
            </div>
                <div class="form-group col-md-9">
                <label asp-for="MealTypeId" class="control-label"></label>
                <select asp-for="MealTypeId" class="form-control" asp-items="ViewBag.MealType"></select>
                <span asp-validation-for="MealTypeId" class="text-danger"></span>
            </div>
            <p></p>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Услуги отеля
                        </th>
                        <th>
                            Оснащение номера
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @foreach (HotelFacility service in ViewBag.HotelFacility)
                            {
                                <input type="checkbox" name="hotelFacility" value="@service.Id"
                                @(Model.HotelFacility.Contains(service) ? "checked=\"checked\"" : "") />

                                @service.Name <br />
                            }
                        </td>

                        <td>
                                @foreach (var r in ViewBag.RoomAmenity)
                            {
                                <input type="checkbox" name="roomAmenity" value="@r.Id"
                                @(Model.RoomAmenity.Contains(r) ? "checked=\"checked\"" : "") />

                                @r.Name <br />
                            }
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group btn-group">
                <input type="submit" value="Сохранить" class="btn btn-info" />
                <a class="btn btn-sm btn-outline-info" asp-action="Index">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
