@model IEnumerable<TravelAgency.Models.Tour>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Туры";
    
}



<h4>Туры</h4>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-info" asp-action="Create">Добавить</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-arrow-counterclockwise"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
                    </div>
                }
                else if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
                {
                    <div>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
                    </div>        
                }
                
            </td>
        </tr>
}
    </tbody>
</table>

