@model IEnumerable<TravelAgency.Models.Tour>

@{
    ViewData["Title"] = "Главная";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width:540px">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-while bg-info">
                            <p class="card-text">
                                <h6 class="card-title">
                                    @item.Title
                                </h6>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/@item.PhotoUrl" width="100%" alt="@item.Title" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Отель: </b>@item.Hotel.Name</p>
                            <p class="card-text">Звёзд: @item.Hotel.HotelStarRating.Stars. 
                                <br>
                                @item.Hotel.MealType.Type
                            </p>
                            <p class="card-text"><b>Стоимость: </b>@item.Price руб.</p>
                            <p class="card-text"><b>Продолжительность: </b>@item.Duration дн.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a asp-action="Details" asp-route-id="@item.Id"
                                    class="col-md-6 btn btn-sm btn-outline-info">
                                    <i class="bi bi-eye">Детальный просмотр</i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
